{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "jsxSingleQuote": true
}
