.bar {
  height: 30px;
  line-height: 30px;
  /*border-bottom: 1px solid rgb(232, 232,232);*/
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.bar::after {
  content: ' ';
  display: block;
  height: 1px;
  /*背景可以渐变色*/
  background-color: rgb(232, 232,232);
  margin-top: -1px;
  position: absolute;
  left: 0;
  right: 0;
  transform: scaleY(0.5);
}
