.Button {
  padding: 1px 10px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 2px;
  outline: none;
  color: rgb(106, 106, 106);
  background-color: #ffffff;
  /*min-width: 36px;*/
  min-height: 27px;
  position: relative;
  white-space: nowrap;
}

.Button:hover {
  opacity: 0.8;
}

.Button:active {
  opacity: 1;
}

.Button + .Button {
  margin-left: 10px;
}

.Button[disabled] {
  background-color: #cccccc;
  border-color: #cccccc;
  opacity: 0.8;
  cursor: not-allowed;
}

.Button.primary {
  background-color: rgb(76, 137, 247);
  border-color: rgb(76, 137, 247);
  color: #ffffff;
}
/*.Button.text {*/
/*  border-color: transparent;*/
/*  background-color: transparent;*/
/*}*/

.ButtonLabel {
  margin: -1px -10px;
  padding: 1px 10px;
}

.ButtonLoading {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  from {transform: rotate(359deg)}
}
