.Button {
  padding: 1px 10px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 2px;
  outline: none;
  color: rgb(106, 106, 106);
  background-color: #ffffff;
  /*min-width: 36px;*/
  min-height: 27px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-app-region: no-drag;
}

.Button:hover {
  opacity: 0.8;
}

.Button:active {
  opacity: 1;
}

.Button + .Button {
  margin-left: 10px;
}

.Button[disabled] {
  background-color: #cccccc;
  border-color: #cccccc;
  opacity: 0.8;
  cursor: not-allowed;
}

.Button.primary {
  background-color: rgb(76, 137, 247);
  border-color: rgb(76, 137, 247);
  color: #ffffff;
}

.Button.danger {
  background-color: rgb(248, 76, 76);
  border-color: rgb(248, 76, 76);
  color: #ffffff;
}

.Button.icon {
  min-width: 25px;
  background-color: transparent;
  border-color: transparent;
  margin-left: 0;
  padding: 1px 5px;
}

.ButtonLabel {
  margin: -1px -10px;
  padding: 1px 10px;
}
