.header {
  background-color: rgba(246,246,246, 0.5);
  height: 46px;
  line-height: 46px;
  padding-left: 12px;
  padding-right: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header button {
  /*-webkit-app-region: no-drag;*/
}

.header .child {
  display: flex;
  flex: 1;
}
