.ModalMask {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
}

.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
