.ModalMask {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  /*right: 0;*/
  /*bottom: 0;*/
  /*background-color: rgba(0,0,0,0.4);*/
}
