.Table {
  text-align: left;
  background-color: #ffffff;
}

.Table th {
  user-select: none;
}

.Table td:first-child span {
  cursor: pointer;
  font-size: 13px;
}

.Table th, .Table td {
  position: relative;
  padding-left: 10px;
  height: 30px;
  font-size: 12px;
}

.Table tr:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

.Table tbody tr:hover {
  background-color: rgb(243, 243, 243);
}

.selectable.Table th:first-child, .selectable.Table td:first-child {
  padding-left: 30px;
}

.split {
  height: 100%;
  width: 1px;
  background-color: rgb(242, 242, 242);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  user-select: none;
}
