.Tabs {
  display: flex;
  flex: 1;
  overflow: hidden;
  /*overflow-y: hidden;*/
}
.TabsWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.TabPane {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  /*overflow-y: hidden;*/
}
