.Tabs {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.TabsWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/*.TabPane {*/
/*  display: flex;*/
/*  flex: 1;*/
/*  flex-direction: column;*/
/*  overflow: hidden;*/
/*}*/
