body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #585858;
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0;
  padding: 0;
}

div, input, textarea {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin-top: 10px;
  margin-bottom: 6px;
}

/*font-size: 14px;*/
/*===================================*/

.App {
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
/*aside 24 右边距*/
.aside {
  background-color: #F6F6F6;
  width: 200px;
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.dialog {
  background-color: #ffffff;
  box-shadow: 2px 2px 30px 5px #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.logout {
  padding: 30px 24px;
}

.downFolder {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: block;
}
