.App {
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex: 1;
  font-size: 14px;
}

.side {
  width: 120px;
  background-color: #282c34;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /*line-height: 50px;*/
  padding: 0 10px;
  border-bottom: 1px solid #efefef;
}

.crumbs {
  /*color: red;*/
}
.crumbs > li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.functions > li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.content {
  /*flex: 1;*/
  height: 100%;
  overflow-y: scroll;
  padding: 12px 18px;
}



