.task {
  display: flex;
  height: 100px;
  background-color: #efefef;
  /*padding: 0 12px;*/
}

.upload {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.download {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: beige;
}
